.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
  position: relative;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  width: 10em;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'riesling';
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@font-face {
  font-family: 'riesling';
  src: url('/fonts/riesling.ttf');
}

@font-face {
  font-family: 'light';
  src: url('/fonts/light.ttf');
}

@font-face {
  font-family: 'icons';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer');
}

h1 {
  margin-bottom: 0.1em;
}

p{
  font-family: 'light';
  font-size: 0.5em;
  font-weight: bold;
  color: black;
  padding-right: 20px;
}

.bouton-container{
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

.switch{
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
  box-shadow: #00000008; 

}

/* THEMES */
#jour {

  /*
  #B1A09B
  #FEECE6
  #FAD7C4
  #66B7AD
  #C4FDFB
  */
  background-color: #FAD7C4;
}

#nuit {

  /*
  #2E3244
  #C5C6C6
  #FFFFFF
  #F1895C
  #516079
  */
  background-color:#2E3244;
}

#jour h1{
  font-family: 'riesling';
  font-size: 5em;
  color: #66B7AD;
}

#jour button:hover{
  border-color: #66B7AD;
  color: #66B7AD;
}
#jour button{
  background-color: #FEECE6;
  color: #B1A09B;
}

#jour p{
  color: #66B7AD
}

#nuit h1{
  font-family: 'riesling';
  font-size: 5em;
  color: #F1895C;
}

#nuit p{
  color: white;
}

#nuit button:hover{
  border-color: #F1895C;
  color: #F1895C;
}
#nuit button{
  background-color: #516079;
  color: #C5C6C6;
}

#nuit .etoile {
  position: absolute;
  background-image: url('/public/etoile.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  width: 10px; 
  height: 10px; 
  animation: fall 5s linear; 
}

@keyframes fall {
  from {
    top: -10px; 
  }
  to {
    top: 100%; 
  }
}


